*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 570px;
    width: 100%;
    position: relative;
}

@keyframes animate {
    10% {
        color: #00b3ff;
        filter: blur(2px);
    }
    40% {
        color: #f700ff;
        filter: blur(2px);
    }
    80% {
        color: #ffee00;
        filter: blur(2px);
    }
}

.header--text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;

    font-size: 3rem;
    font-weight: 500;
    font-family: 'Pacifico', cursive;

    animation: animate 10s linear infinite;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter:opacity(20%);
}

.video--navigation {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}

.video--navigation li {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: #fff;
    padding: 3px 3px 0;
    transition: 0.5s;
}

.video--navigation li img:hover {
    opacity: 1;
}

.video--navigation li img {
    width: 120px;
    transition: 0.5s;
}

.video--navigation li img:hover {
    width: 200px;
}